.titulo {
    color: #fff;
    float: right;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 30px;
    font-size: 25px;
}

.formulario {
    width: 50%;
    margin: 0 15px 0 15px;
    max-height: 540px;
}

.texto-radio { margin-left: 17px }

.grid-topo {
    border-bottom: 1px solid;
    display: flex;
    padding: 0 15px 0 0;
}

.campo-um {
    width: 10%;

    label {
        margin: 5px 0 5px 5px;
    }
}

.campo-dois {
    width: 60%;
    text-align: center;

    label {
        margin: 5px 0 5px 5px;
    }
}

.campo-tres {
    width: 15%;

    label {
        margin: 5px 0 5px 5px;
    }
}

.campo-quatro {
    width: 15%;

    label {
        margin: 5px 0 5px 5px;
    }
}