<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0px 5px 0px 5px">
    <a class="navbar-brand" [routerLink]="['/']">Jando</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Início
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" style="background-color: #272323">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/cadastroOrcamento']">Cadastro de Ordem de Serviço
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-full" style="display: flex;">
    <div class="card border-dark mb-3 formulario">
        <div class="card-header border-dark text-center" style="font-size: 16px;">
            <label>Dados do Cliente</label>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome do cliente">
                </div>
                <div class="form-group">
                    <label>Endereço e Fone:</label>
                    <div style="display: flex;">
                        <input type="text" style="width: 65%" class="form-control" placeholder="Endereço do cliente">
                        <input type="text" style="width: 35%" [textMask]="{mask: maskFone}" class="form-control" placeholder="Telefone / Celular do cliente">
                    </div>
                </div>
                <div class="form-group">
                    <label>Município e Estado:</label>
                    <div style="display: flex;">
                        <input type="text" style="width: 75%" class="form-control" placeholder="Município do cliente">
                        <input type="text" style="width: 25%" class="form-control" placeholder="Estado do cliente">
                    </div>
                </div>
                <div class="form-group">
                    <label>CPF/CNPJ e Insc. Est:</label>
                    <div class="form-check">
                        <input class="form-check-input" (change)="radioChange()" type="radio" name="gridRadios" checked>
                        <label class="form-check-label texto-radio">
                            CPF
                        </label>

                        <input class="form-check-input" (change)="radioChange()" type="radio" name="gridRadios">
                        <label class="form-check-label texto-radio">
                            CNPJ
                        </label>
                    </div>
                    <div style="display: flex;">
                        <input type="text" [textMask]="{mask: maskCPFCNPJ}" class="form-control" ng-if placeholder="{{placeHolder}}">
                        <input type="number" class="form-control" ng-if placeholder="Inscrição Estadual do cliente">
                    </div>
                </div>
                <div class="form-group">
                    <label>Veículo:</label>
                    <input type="text" class="form-control" placeholder="Veículo do cliente">
                </div>
                <div class="form-group">
                    <label>Marca, Placa e Motorista:</label>
                    <div style="display: flex;">
                        <input type="text" style="width: 33%" class="form-control" ng-if placeholder="Marca do veículo">
                        <input type="text" style="width: 33%" class="form-control" ng-if placeholder="Placa do veículo">
                        <input type="text" style="width: 33%" class="form-control" ng-if placeholder="Motorista do veículo">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card border-dark mb-3 formulario">
        <div class="card-header border-dark text-center" style="font-size: 16px;">
            <label>Items</label>
            <button type="button" style="float: right;" class="btn btn-dark">Adicionar Item</button>
        </div>

        <div class="grid-topo">
            <div class="campo-um">
                <label>Quant.</label>
            </div>
            <div class="campo-dois divisores">
                <label>Discriminação</label>
            </div>
            <div class="campo-tres divisores">
                <label>Preço Unit.</label>
            </div>
            <div class="campo-quatro">
                <label>Total</label>
            </div>
        </div>

        <div style="height: 500px; overflow-y: scroll;">
            <div grid-data grid-options="gridOptions" grid-actions="gridActions">
                <table class="table">
                    <tbody>
                        <tr style="border-bottom: 1px solid #d6d6d6" grid-item *ngFor="let registro of registros">
                            <td style="width: 10%; text-align: center;">{{registro.quantidade}}</td>
                            <td style="width: 60%;">{{registro.descricao}}</td>
                            <td style="width: 15%;">{{registro.precounitario}}</td>
                            <td style="width: 15%;">{{registro.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>