<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0px 5px 0px 5px">
    <a class="navbar-brand" [routerLink]="['/']">Jando</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Início
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" style="background-color: #272323">
            <li class="nav-item active">
                <a class="nav-link">Cadastro de Clientes
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-full" style="display: flex;">
    <div class="card border-dark mb-3 formulario">
        <div class="card-header border-dark text-center" style="font-size: 16px;">
            <label>Dados do Cliente</label>
            <button type="button" style="float: right;" class="btn btn-dark">Salvar Cliente</button>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome do cliente">
                </div>
                <div class="form-group">
                    <label>Endereço e Fone:</label>
                    <div style="display: flex;">
                        <input type="text" style="width: 65%" class="form-control" placeholder="Endereço do cliente">
                        <input #telefone (blur)="blurTelefone(telefone, telefone.value)" type="text" [textMask]="{mask: maskFone}" class="form-control telefone" placeholder="Telefone / Celular do cliente">
                    </div>
                </div>
                <div class="form-group">
                    <label>Município e Estado:</label>
                    <div style="display: flex;">
                        <input type="text" style="width: 75%" class="form-control" placeholder="Município do cliente">
                        <input type="text" style="width: 25%" class="form-control" placeholder="Estado do cliente">
                    </div>
                </div>
                <div class="form-group">
                    <label>CPF/CNPJ e Insc. Est:</label>
                    <div class="form-check">
                        <input class="form-check-input" (change)="radioChange()" type="radio" name="gridRadios" checked>
                        <label class="form-check-label texto-radio">
                            CPF
                        </label>

                        <input class="form-check-input" (change)="radioChange()" type="radio" name="gridRadios">
                        <label class="form-check-label texto-radio">
                            CNPJ
                        </label>
                    </div>
                    <div style="display: flex;">
                        <input type="text" [textMask]="{mask: maskCPFCNPJ}" class="form-control" ng-if placeholder="{{placeHolder}}">
                        <input type="number" class="form-control" ng-if placeholder="Inscrição Estadual do cliente">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>