<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0px 5px 0px 5px">
    <a class="navbar-brand" [routerLink]="['/']">Jando</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="background-color: #272323">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Início
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-full" style="display: flex;">
    <div class="card border-dark mb-3 text-center botao">
        <div class="card-body">
            <a [routerLink]="['/cadastroCliente']" class="btn btn-dark">Cadastro de Clientes</a>
        </div>
    </div>

    <div class="card border-dark mb-3 text-center botao">
        <div class="card-body">
            <a [routerLink]="['/cadastroOrcamento']" class="btn btn-dark">Cadastro de Ordem de Serviço</a>
        </div>
    </div>
</div>